# Temporary files
*.tmp
*_temp.py

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model weights
*.h5
*.hdf5

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
